{% extends 'base.html.j2'%}

{% block content %}
<h2 class="sub-heading "> Admin Dashboard </h2>
<div class="form-container">
    <form action="{{ url_for('auth.admin_dashboard') }}" method="GET">
        <input name="search" id="searchinput" placeholder="Search by username/email" type="text"
            value="{{ request.args.get('search', '') }}" />

        <button type="submit">Search</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Bio</th>
                <th>Admin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.bio }}</td>
                <td>{{ '✅' if user.is_admin else '❌' }}</td>
                <td class="actions">
                    {% if not user.is_admin %}
                    <form action="{{ url_for('auth.promote_user', user_id=user.id) }}" method="POST"
                        style="display:inline;">
                        <button type="submit">Promote</button>
                    </form>
                    {% else %}
                    <form action="{{ url_for('auth.demote_user', user_id=user.id) }}" method="POST"
                        style="display:inline;">
                        <button type="submit">Demote</button>
                    </form>
                    {% endif %}
                    <form action="{{ url_for('auth.delete_user', user_id=user.id) }}" method="POST"
                        style="display:inline;">
                        <button onclick="return confirm('Delete this user?')" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}