{% extends "base.html.j2" %}

{% block content %}
<h2>Edit Profile</h2>
<form method="POST">
  {{ form.hidden_tag() }}
  <p>{{ form.bio.label }}<br />{{ form.bio(rows=4) }}</p>
  <p>{{ form.skills_to_teach.label }}<br />{{ form.skills_to_teach() }}</p>
  <p>{{ form.skills_to_learn.label }}<br />{{ form.skills_to_learn() }}</p>
  <p>{{ form.submit() }}</p>
</form>
{% endblock %}