{% extends "base.html.j2" %}

{% block title %}Register - SkillSwap{% endblock %}

{% block content %}
<div class="login-wrapper">
  <div class="login-card">
    <div class="sub-heading">Register</div>
    <form method="POST">
      {{ form.hidden_tag() }}

      <div class="form-group">
        {{ form.username.label(class="label") }}
        {{ form.username(class="styled-input", placeholder="Choose a username", size=32) }}
      </div>
      <div class="form-group">
        {{ form.email.label(class="label") }}
        {{ form.email(class="styled-input", placeholder="Enter your email", size=32) }}
      </div>
      <div class="form-group">
        {{ form.password.label(class="label") }}
        {{ form.password(class="styled-input", placeholder="Create a password", size=32) }}
      </div>
      <div class="form-group">
        {{ form.confirm_password.label(class="label") }}
        {{ form.confirm_password(class="styled-input", placeholder="Confirm password", size=32) }}
      </div>
      <div class="form-submit-wrapper">
        {{ form.submit(class="login", id="submit") }}
      </div>
    </form>
    <p class="register-now">Already have an account? <a href="{{ url_for('auth.login') }}">Login</a></p>
  </div>
</div>
{% endblock %}