{% extends "base.html.j2" %}
{% block title%} SkillSwap {% endblock %}

{% block content %}
<header>
    <div class="logo">SkillSwap</div>
    <nav class="nav-links">
        <a href="#how-it-works">How it Works</a>
        <a href="#features">features</a>
        <a href="#join-now">Join Now</a>
    </nav>
</header>

<section class=#hero>
    <div class="#hero-text">
        <h1> Learn what you want. Teach what you love.</h1>
        <p>Connect with people in your area or online to swap skills and grow together.</p>
        <a href="/singup" class="btn-primary"> Get Started</a>
    </div>
</section>

{% endblock %}